<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Goladores de El Anden Futbol</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="vendor.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="css/layerslider.css">
    <script src="js/vendor/modernizr.js"></script>
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="wrapper">
    <!-- header -->
    <header class="header-main">
        <div class="header-lower clearfix">
            <%- include ../menu.ejs %>
        </div>
    </header>

    <section class="latestResultTable">
        <div class="container">
            <h2 class="heading2">Tabla de Goleadores</h2>


            <div class="table-responsive" style="background-color: #262626">
                <table class=" table table-striped ">
                    <thead>
                    <tr>
                        <h4 class="headline04 " style="color:black; text-align: center; background-color: darkorange">
                            Goleadores de
                            <span><%= division.nombre %> </span>
                        </h4>
                    </tr>

                    <tr>
                        <th scope="col" class="headline05 "><span>Nombre y Apellido</span></th>
                        <th scope="col" class="headline05 "><span>Equipo</span></th>
                        <th scope="col" class="headline05 "><span>Goles</span></th>
                    </tr>
                    </thead>

                    <tbody>
                    <% if (goleadores.length > 0 ){ %>
                    <% for (var i = 0; i < goleadores.length ; i++ ) { %>
                    <tr>
                        <% if (goleadores[i] && goleadores[i].cantidadDeGoles > 0) { %>
                        <% console.log(JSON.stringify(goleadores)) %>

                        <td class="headline05"><%= goleadores[i].jugadorNombre %></td>
                        <td class="headline05"><span><%= goleadores[i].equipoNombre %></span></td>
                        <td class="headline05"><span><%= goleadores[i].cantidadDeGoles %></span></td>

                        <% } %>

                    </tr>
                    <% } %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
        <script src="js/vendor/vendor.js"></script>
        <script src="js/main.js"></script>
        <script src="js/admin.js"></script>
        <script src="js/goleadoresDeLaDivision.js"></script>

    </section>
    <!-- footer -->
    <footer><!--class="footer-type01"-->
        <%- include ../footer.ejs %>
    </footer>
</div>

</body>
</html>


