<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Torneo de Fútbol Para Socios del Club Atlético San Lorenzo de Almagro</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
     <link rel="stylesheet" href="vendor.css">       
     <link rel="stylesheet" href="style.css">   
     <link rel="stylesheet" type="text/css" href="css/layerslider.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script src="js/vendor/modernizr.js"></script>     
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <tr class="wrapper">
      <!-- header -->
      <header class="header-main">
        <div class="header-lower clearfix">
      <%- include ../menu.ejs %>
        </div>  
</header>

       <!-- banner section -->
      <div class="innerbannerwrap">
        <div class="content"></div>
        <div class="innerbannergoleadores">
          <h2 class="bannerHeadline">Datos del jugador <br><span style="color: darkblue"> <%= jugador.nombre %> <%= jugador.apellido %> </span></h2>
        </div>
      </div>

      <% if (resultado) { %>
          <% if (resultado == 200) { %>
                <div class="alert alert-success">La operacion fue realizada con exito</div>
          <% } else { %>
              <div class="alert alert-danger">La operacion fallo. Inténtelo nuevamente más tarde</div>
          <% } %>
      <% } %>

      <section class="innerpage_all_wrap bg-white">
          <div class="table-responsive">
              <table class=" table table-striped" align="center" style="text-align: center; background-color: #262626; margin-bottom: 50px; width: 85%">
                  <thead>
                  <tr style="background-color: #b81e20; ">
				      		          <td class="headline01 " style="color: darkblue">Nombre</td>
                                <td class="headline01 smallpoint" style="color: darkblue">Apellido</td>
			                          <td class="headline01 smallpoint" style="color: darkblue">Apodo</td>
			                          <td class="headline01 smallpoint" style="color: darkblue">Fecha nac</td>
			                          <td class="headline01 smallpoint" style="color: darkblue">DNI</td>
			                          <td class="headline01 smallpoint" style="color: darkblue">Pos</td>
			                          <td class="headline01 smallpoint" style="color: darkblue">Nro</td>
			                          <td class="headline01 smallpoint" style="color: darkblue">Capitan</td>
                                	  <td class="headline01 smallpoint" style="color: darkblue">SubCapitan</td>
                                	  <td class="headline01 smallpoint" style="color: darkblue">Mail</td>

                  </tr>
                  </thead>
                  <tbody>
                      				<tr>

                                     			 		<td class="headline01 smallpoint"><%= jugador.nombre %></td>
                                              <td class="headline01 smallpoint"><%= jugador.apellido %></td>
                                            			 <td class="headline01 smallpoint"><%= jugador.apodo %></td>
                                            			 <td class="headline01 smallpoint"><%= moment(jugador.fecha_de_nacimiento).format('DD/MM/YYYY') %></td>
                                            			 <td class="headline01 smallpoint"><%= jugador.dni %></td>
                                            			 <td class="headline01 smallpoint"><%= jugador.posicion %></td>
                                            			 <td class="headline01 smallpoint"><%= jugador.numero %></td>
                                            			 

                                                   <td class="headline01 smallpoint">
                                                      <% if ( equipo.capitan == jugador._id ) { %>
                                                        SI
                                                      <% } else { %> NO <% } %>
                                                    </td>
                                                  <td class="headline01 smallpoint">
                                                      <% if ( equipo.subcapitan == jugador._id ) { %>
                                                        SI
                                                      <% } else { %> NO <% } %>
                                                    </td>
                                            			<td class="headline01 smallpoint"><%= jugador.email %></td>
                      				</tr>

                   <tr><td colspan="10" class="headline06" style="color: red"> Cambios a Realizar</td></tr>
                   <tr>
                                  <form action="/actualizarDatosJugador" method="post" id="formActualizarJugador">

                                     <td>
                                        <input type="text" class="form-control" name="nombre" id="nombre" value=<%= jugador.nombre %>>

                                     </td>
                                    <td>
                                        <input type="text" class="form-control" name="apellido" id="apellido" value=<%= jugador.apellido %>>
                                    </td>
                                    <td>

                                        <input type="text" class="form-control" name="apodo" id="apodo" value=<%= jugador.apodo %>>
                                    </td>
                                    <td>

                                        <input type="text" id="fecha_de_nacimiento" class="form-control" name="fecha_de_nacimiento" id="fecha_de_nacimiento" value=<%= moment(jugador.fecha_de_nacimiento).format('YYYY-MM-DD') %>>>
                                    </td>
                                     <td>
                                         <input type="text" class="form-control" name="dni" id="dni" value=<%= jugador.dni %>>
                                    </td>
                                     <td>   <select name="posicion" id="posicionSelect" value=<%= jugador.posicion %>>
                                                  <option value="ARQUERO">ARQUERO</option>
                                                  <option value="DEFENSOR">DEFENSOR</option>
                                                  <option value="VOLANTE" selected>VOLANTE</option>
                                                  <option value="DELANTERO">DELANTERO</option>
                                         </select>
                                    </td>
                                     <td>

                                        <input type="text" class="form-control" name="numero" id="numero" value=<%= jugador.numero %>>
                                    </td>
                                     <td>
                                         <select name="capitan" id="capitanSelect">
                                              <% if (equipo.capitan == jugador._id) { %>
                                                    <option value="false">NO</option>
                                                  <option value="true" selected>SI</option>
                                              <% } else { %>
                                                  <option value="false" selected>NO</option>
                                                  <option value="true">SI</option>
                                              <% } %>
                                                  
                                                </select>
                                    </td>
                                    <td>
                                        <select name="subcapitan" id="subcapitanSelect">
                                          <% if (equipo.subcapitan == jugador._id) { %>
                                                    <option value="false">NO</option>
                                                  <option value="true" selected>SI</option>
                                              <% } else { %>
                                                  <option value="false" selected>NO</option>
                                                  <option value="true">SI</option>
                                              <% } %>
                                                </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control"  name="email" id="email" value=<%= jugador.email %>>
                                    </td>
                                    <input type="hidden" value=<%= equipo._id %> name="equipo"/>
                                    <input type="hidden" value=<%= jugador._id %> name="jugadorid"/>

                    <tr><td colspan="10">
                                      <button type="submit" id="botonActualizarJugador" class="btn btn-warning btn-lg center-block">Actualizar</button>
                                        </td>
                                    </tr>


                                    </form>




				 
		<tr> <td colspan="10">
		<form action="/delegado" method="get">
             <button type="submit">VOLVER A MI EQUIPO</button>
        </form>
            </td>   </tr>
                  </tbody>
              </table>
          </div>
      </section>
    

      <!-- footer -->
      <footer ><!--class="footer-type01"-->
	   <%- include ../footer.ejs %>
      </footer>
    </div>
    

      
    <script src="js/vendor/vendor.js"></script>     
    <script src="js/main.js"></script>
	<script src="js/admin.js"></script> 
    <script src="js/partidos.js"></script> 
    <script src="js/actualizarJugador.js"></script>
</body>
</html>
